.form {

    padding-left:90px;
    padding-right:90px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    border-radius: 2px;
    color: brown;
    /* padding: 4px; */
    /* border-spacing: 50px; */
    /* border-collapse: separate;
    border-spacing: 5px; */
    border-spacing: 0.2px;
    background-color: #EDDBC7;
}
