.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    border-radius: 2px;
    /* padding: 4px; */
    /* border-spacing: 50px; */
    /* border-collapse: separate;
    border-spacing: 5px; */
    border-spacing: 0.2px;
}
.date_of_arrival {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.form.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #4CAF50; */
    border: none;} 

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}