.c
{
    height: 100vh;
    width: 100vh;
    background-color: #f9f0e5;
}
.ico
{
    height: 45%;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.card
{
    background-color: #e1bb8c;
}

.h1
{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.p
{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #EDDAC5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div {
    height: 5rem;
    width: 5rem;
    margin: 3rem auto;
    border: rgb(76, 81, 76) 5px;
    background: rgb(74, 68, 68);
    transition: transform .5s, box-shadow 1s;
  }
  
.div:hover {
    transform: scale(1.02) perspective(0px);
    box-shadow: 0 10px 10px rgba(54, 49, 49, 0.7);
  }